          /* body */
body{
    margin: 0;
    background-color: antiquewhite;
    font-family: sans-serif;
}

/* heading of the page */
#page-heading{
    text-align: center;
    margin-top: 25px;
    color: rgb(53, 49, 49);
    font-weight: bolder;
}

/* contact being displayed */
#contact-list{
    color: white;
/* text-align: center; */
list-style-type: none;
/* border: solid black 2px; */
display: flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 0.19%;
border-radius: 5px;
margin-right: 10%;
margin-left: 8%;
width: auto;
height: 2.5rem;
/* padding: auto; */
background-color: rgba(47, 0, 255, 0.592);
}

#contact-list:hover{
    background-color: aliceblue;
    color: black;
}

#contact-name{
    /* padding-left: 1%; */
    padding-right: 50px;
    /* font-size: 40px; */
    /* float: left; */
}


.details{
    /* border: 2px solid rgb(237, 16, 16); */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
     
}

/* input form */
#input-form{
    text-align: center;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: antiquewhite;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button:hover{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
  }

  /* delete button */
  .delete-button{
    /* border: 2px solid red; */
    
    padding:5px;
    padding-top: 10px;
  }
  .delete-button i{
    color: red;
  }